//
// Header
//

// Desktop Mode
@include media-breakpoint-up(lg) {
	.top-search-bar-div{
        position: relative;
        margin-right: 10px;
        input{
            max-width: 300px;
            min-width: 150px;
            height: 40px;
            font-size: 16px;
            width: 100%!important;
            background-color: #2B3441;
            border-radius: 10px;
            color: #809FB8;
            outline: none;
            border: 1px solid #384455;
            padding-left: 20px;
            padding-right: 35px;
        }

        .search-icon{
            margin-left: -30px;
            position: absolute;
            top: 8px;
        }
    }

    .top-select-box{
        height: 40px;
        font-size: 14px;
        background-color: #2B3441;
        border-radius: 10px;
        color: #ffffff;
        outline: none;
        border: 1px solid #384455;
        padding: 0 10px;
        margin-right: 10px;
        option{
            font-size: 16px;
        }
    }

    .top-nav-btn{
        height: 40px;
        width: 40px;
        border: 1px solid #384455;
        background-color: #2B3441;
        border-radius: 10px;
        color: #809FB8;
        margin-right: 10px;
        .notification-icon{
            margin-top: 2px;
        }
        .flag-icon{
            width: 20px;
        }
    }

    .top-nav-btn-round{
        height: 40px;
        width: 40px;
        border: 1px solid #384455;
        background-color: #2B3441;
        border-radius: 50%;
        color: #809FB8;
    }
}

// Tablet & Mobile Modes
@include media-breakpoint-down(lg) {
    .top-search-bar-div{
        position: relative;
        margin-right: 10px;
        input{
            max-width: 300px;
            height: 40px;
            font-size: 16px;
            background-color: #2B3441;
            border-radius: 10px;
            color: #809FB8;
            outline: none;
            border: 1px solid #384455;
            padding-left: 20px;
            padding-right: 35px;
        }

        .search-icon{
            margin-left: -30px;
            position: absolute;
            top: 8px;
        }
    }

    .top-select-box{
        height: 40px;
        font-size: 14px;
        background-color: #2B3441;
        border-radius: 10px;
        color: #ffffff;
        outline: none;
        border: 1px solid #384455;
        padding: 0 10px;
        margin-right: 10px;
        option{
            font-size: 16px;
        }
    }

    .top-nav-btn{
        height: 40px;
        width: 40px;
        border: 1px solid #384455;
        background-color: #2B3441;
        border-radius: 10px;
        color: #809FB8;
        margin-right: 10px;
        .notification-icon{
            margin-top: 2px;
        }
        .flag-icon{
            width: 20px;
        }
    }

    .top-nav-btn-round{
        height: 40px;
        width: 40px;
        border: 1px solid #384455;
        background-color: #2B3441;
        border-radius: 50%;
        color: #809FB8;
    }
}
