//
// Main
//

// Body
body {
	background-color: $page-bg;
}

// Desktop mode
@include media-breakpoint-up(lg) {
	// Wrapper
	.wrapper {
		transition: padding-left get($aside-config, base, transition-speed) ease;

		// Secondary aside enabled mode
		.aside-secondary-enabled.aside-fixed & {
			padding-left: get($aside-config, base, primary-width) + get($aside-config, base, secondary-width);
		}

		// Secondary aside disabled mode
		.aside-secondary-disabled.aside-fixed & {
			padding-left: get($aside-config, base, primary-width);
		}

		// Aside primary disabled and aside secondary enabled modes
		.aside-primary-disabled.aside-secondary-enabled.aside-fixed & {
			padding-left: get($aside-config, base, secondary-width);
		}

		// Fixed aside & minimized modes
		[data-kt-aside-minimize="on"].aside-fixed & {
			padding-left: get($aside-config, base, primary-width);
			transition: padding-left get($aside-config, base, transition-speed) ease;
		}

		// Sidebear enabled mode
		.sidebar-enabled[data-sidebar="on"] & {
			margin-right: get($sidebar-config, desktop, width);
		}

		// Fixed and scroll header modes
		.header-fixed[data-kt-sticky-header="on"] & {
			padding-top: get($header-config, desktop, default, height);
		}
	}

	
	.bg-custom{
		background-color: #050f1e!important;
	}

	.rigt-wrapper-div{
		background-color: #06152B!important;
		margin: 15px 15px 0px 0px;
		border-radius: 40px;
		padding: 0 30px;
	}

	// Containers
	.container,
	.container-fluid {
		padding: 0 get($page-spacing, desktop);
	}
	
}

.bg-custom{
	background-color: #050f1e!important;
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	// Wrapper
	.wrapper {
		// Fixed header
		.header-tablet-and-mobile-fixed[data-kt-sticky-header="on"] & {
			padding-top: get($header-config, tablet-and-mobile, fixed, height);
		}
	}

	// Containers
	.container,
	.container-fluid {
		max-width: none;
		padding: 0 get($page-spacing, tablet-and-mobile);
	}

	.rigt-wrapper-div{
		background-color: #06152B!important;
		margin: 25px 15px 0px 15px;
		border-radius: 40px;
		padding: 30px 20px;
	}
}
